{% extends "base.html" %}

{% block content %}
    <center><h1>Add a Frakkin Blog</h1></center>
    <form method='post'>


                

        <label>
            Title for new blog:<br>
            <input type="text" name='task' /><br>
        </label>
        
        <br><br>

        <label>
            
            Your New PooDoo(Blog)<br>
            <textarea name="new-post"></textarea><br>
        </label>

        <br><br><br>

        <input type="submit" value='Add Entry' />
    
    </form>
    <ul>
        {% for task in tasks %}
        <li>{{task.name}}</li>
        {% endfor %}
    </ul>


    
{% endblock %}